.idea/
.env
*.pid
*.log
runs.db

volumes/deluge/config/*
!volumes/deluge/config/.gitkeep

volumes/jackett/config/*
!volumes/jackett/config/.gitkeep
volumes/letsencrypt/config/*
!volumes/letsencrypt/config/.gitkeep
volumes/ombi/config/*
!volumes/ombi/config/.gitkeep
volumes/plex/config/*
!volumes/plex/config/.gitkeep
volumes/plex/transcode/*
!volumes/plex/transcode/.gitkeep
volumes/radarr/config/*
!volumes/radarr/config/.gitkeep
volumes/sonarr/config/*
!volumes/sonarr/config/.gitkeep
volumes/tautulli/config/*
!volumes/tautulli/config/.gitkeep

volumes/media/downloads/*
!volumes/media/downloads/.gitkeep
volumes/media/movies/*
!volumes/media/movies/.gitkeep
volumes/media/tv/*
!volumes/media/tv/.gitkeep
