MS_TZ="Europe/Paris"
PLEX_CLAIM="plex_claim_key"
ADVERTISE_IP="advertise IP"
MS_PUID=1000#user id associated to the docker user
MS_PGID=1000
VOLUME_DIR=/root/paths/to/all/volumes

VOLUME_COUCHPOTATO=/path/to/couchpotato/volume
VOLUME_DELUGE=/path/to/deluge/volume
VOLUME_JACKETT=/path/to/jackett/volume
VOLUME_PLEX=/path/to/plex/volume
VOLUME_SONARR=/path/to/sonarr/volume


MOVIES_DIR=/path/to/movies/volume
SERIES_DIR=/path/to/series/volume